[core]
	autocrlf = input
	editor = gvim
	quotepath = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:\\Program Files\\KDiff3\\kdiff3.exe
[mergetool]
	prompt = false
[difftool]
	prompt = false
[user]
	name = mikewy0527
	email = mike_wy0527@outlook.com
[credential]
	helper = store
[i18n]
	commitencoding = UTF-8
	logoutputencoding = UTF-8
